@charset "UTF-8";


div.bg {
    padding-left: 10px;
    padding-right: 10px;
}

div.bg#asteroid {
    background-image: linear-gradient(to bottom, #AEC1E6, #6890E0);
}

div.bg#barbie {
    background-image: linear-gradient(to bottom, #DC38E0, #E47EE6);
}

div.bg#oppenheimer {
    background-image: linear-gradient(to bottom, #E67447, #E04102);
}

div.bg#kotfm {
    background-image: linear-gradient(to bottom, #573427, #3C312D);
}

section {
    max-width: 900px;
    margin: auto;
    padding: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.349);
}

div.escrito {
    height: 290px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px black;
    margin-left: 20px;
    line-height: 1.5em;
}

