@charset "UTF-8";

div.bg#asteroid {
    background-image: none;
    background-color: #6890E0;
}

div.bg#barbie {
    background-image: none;
    background-color: #E47EE6;
}

div.bg#oppenheimer {
    background-image: none;
    background-color: #E04102;
}

div.bg#kotfm {
    background-image: none;
    background-color: #573427;
}
section {
    max-width: 700px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 60px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.349);
}

section img {
    display: block;
    margin: auto;
}

div.escrito {
    padding: 10px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.5em;
}